*{
    padding: 0;
    margin: 0;

}
body{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),
    linear-gradient(70deg, #dbedff 32%, #ebfff0);
}
p{
    margin: 100px auto;
    color: #0bdbd4;
    font-size: 19px;
}
a{
	display:block;
    text-decoration: none;
    margin: 50px auto;
    color: #ea626e;
    font-size: 19px;
}
a:hover{
    color: #3be1ff;
}