@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 700px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%,
		#fff), linear-gradient(70deg, #dbedff 32%, #ebfff0);
}

p {
	margin: 100px auto;
	color: #0bdbd4;
	font-size: 19px;
}

.footer {
	width: 400px;
	height: 200px;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;
}

.footer a {
	position: relative;
	width: 150px;
	height: 60px;
	text-transform: uppercase;
	border: 1px solid currentColor;
	transition: 0.7s;
	line-height: 60px;
	text-align: center;
	font-family: "Microsoft JhengHei Light";
	font-size: 18px;
	font-weight: 600;
	color: #5f4f56;
	text-decoration: none;
	overflow: hidden;
}

.footer a::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 0 0;
	border-color: #6b4432 transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.7s;
	z-index: -1;
}

.footer a:active {
	background: #b27254;
}

.footer a:hover {
	color: #ecdcd4;
}

.footer a:hover::after {
	border-width: 330px 330px 330px 0;
	transition: 0.7s;
}