    *{
        padding: 0;
        margin: 0;
    }
    body{
    	width:100%;
    	height: 1000px;

    }
    .all{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),
        linear-gradient(70deg, #dbedff 32%, #ebfff0);
        width: 100%;
        height: 900px;
        
    }
    .header h4{
        text-align: center;
        width: 100px;
        height: 40px;
        color: rgba(5, 5, 5, 0.73);

    }
    .header{
        left: 60px;
        line-height: 40px;
        position: fixed;
        margin: 0 auto;
        padding-top: 10px;
        width: 1100px;
        min-width:1100px; 
        height: 60px;
        display:flex;
        justify-content: space-around;
        z-index: 1;
    }
    .search{
        padding-left: 10px;
        width: 120px;
        height: 40px;
    }
    .search input{
        width: 60px;
        height: 22px;
    }
    .search .buttonSearch{
        width: 40px;
        height: 40px;
    }
    .container{
    min-width:1100px; 
        width:1100px;
        height: 60px;
        position: absolute;
        left: 60px;
        top: 80px;
    }
    .formData{
        width: 100%;
        height: 50px;
    }
    .formData ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        border-radius: 5px;
    }
    .formData li{
        width: 100px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        border-radius: 5px;

    }
    .formData li input{
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: transparent;
        border-style: none;
        font-size: 16px;
        color: #4a474b;
    }
    .formData li:hover{
        background-color: #ffbadf;
    }
    .formData ul:hover {
        background-color: #d2f5e0;
    }

    /*button style*/
    .buttonSearch{
    	
        margin-left: 5px;
        border-style: none;
        transform: scale(0.0001);
        transition: 0.4s;
        border-radius: 40px;
        background-color: rgba(203, 198, 199, 0.57);
        color: rgba(50, 50, 50, 0.92);
        cursor: pointer;
    }
    .search:hover .buttonSearch{
        transform: scale(1.05);
        opacity: 0.9;
    }


    .formData .submit{
    	display: none;
		position:relative;
    	top: 10px;
    	height: 30px;
        border-style: none;
        /*transform: scale(0.0001);*/
        transition: 0.6s;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgba(203, 198, 199, 0.57);
        color: rgba(50, 50, 50, 0.92);
        cursor: pointer;
    }
    .formData li:hover .submit{
        transform: scale(1);

    }
    .formData li .submit:hover{
        background-color:#ffbadf;
    }
    
.containerFloat{
    width: 340px;
    height: 700px;
    position: absolute;
    right: 0px;
    top: 50px;
    overflow: hidden;

}
.againContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    right: -300px;
    transition: 0.8s;
}
    .floatForm{
        width: 300px;
        height: 700px;
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(221, 255, 248, 0.68)),
        linear-gradient(70deg, rgba(204, 255, 255, 0.71) 32%, rgba(205, 255, 222, 0.51));
        position: absolute;
        right: 0px;
        transition: 0.7s;
        

    }
    .floatForm h3{
        text-align: center;
        margin-top: 10px;
        text-shadow: -1px 0 5px black;
    }
    .floatForm ul{
        width: 100%;
        height: 270px;
    }
    .floatForm li{
        width: 220px;
        height: 20px;
        font-size: 16px;
        list-style: none;
        margin: 30px 0 30px 50px;
    }
    .floatForm .submit{
                cursor: pointer;
        display: block;
        border-style: none;
        width: 100px;
        height: 50px;
        margin: 0px auto 10px auto;
        background-color: azure;
        transition: 0.7s;
        font-size: 18px;
        font-weight: 600;
        color: #00c9f5;
        border-radius: 5px;
    }
        .submit:hover{
        border-radius: 30px;
        color: #f1fff8;
        background-color: #006f99;
    }
    .againContainer:hover{
        right: 0px;
    }
        .backHome{
        position: relative;
        display: block;
        width: 130px;
        height: 60px;
        border-radius: 5px;
        background-image: linear-gradient(to bottom, #b2ffdc, #009fa0);
        transition: 0.5s;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #f1fff8;
        text-decoration: none;
        margin: 40px auto 10px auto;
        box-shadow: 1px 5px 5px rgba(52, 52, 52, 0.92);
    }
    .backHome:hover{
        border-radius: 40px;
        color: #a0ffff;
        background-color: #336699;
    }
    .backHome:active{
        box-shadow: 0px 0px 4px black;
        transition: 0.1s;
        background-image: linear-gradient(to bottom, #009fa0, #b2ffdc);
    }
/*         #toggleState{
        display: block;
        border-style: none;
        width: 100px;
        height: 60px;
        background-color: lightblue;
        margin: 20px auto;
    } */