@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%,
		#fff), linear-gradient(70deg, #dbedff 32%, #ebfff0);
}

p {
	color: rgba(104, 187, 255, 0.9);
	font-size: 28px;
	padding-top: 30px
	
}
.container {
	width: 300px;
	height: 300px;
	min-width: 300px;
	margin: 120px auto;
}

a {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	display: block;
	cursor: pointer;
}

li {
	list-style: none;
	background-color: rgb(107, 248, 255);
	height: 35px;
	line-height: 35px;
	color: rgb(61, 57, 57);
}

li:nth-of-type(2n) {
	background-color: rgba(104, 187, 255, 0.9);
}

li:hover a {
	color: white;
	background: rgb(77, 85, 88);
}
    .footer{
        width: 400px;
        height: 200px;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
    }

    .footer a{
        position: relative;
        width: 150px;
        height: 60px;
        text-transform: uppercase;
        border: 1px solid currentColor;
        transition: 0.7s;
        line-height: 60px;
        text-align: center;
        font-family: "Microsoft JhengHei Light";
        font-size: 18px;
        font-weight: 600;
        color: #5f4f56;
        text-decoration: none;
        overflow: hidden;
    }
    .footer a::after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: #6b4432 transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.7s;
        z-index: -1;
    }
    .footer a:active{
        background: #b27254;
    }
    .footer a:hover{
        color: #ecdcd4;
    }
    .footer a:hover::after{
        border-width: 330px 330px 330px 0;
        transition: 0.7s;
    }